<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Add post{% endblock %}</title>
</head>
<body>

{% block content %}
<style>
.form-control {
        border-color: grey;
        }
</style>

<div class="container" style="margin-bottom:15px;">
    {% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit" style="display:block;margin:0 auto;font-size:20px;"
           class="btn btn-dark btn-sm">
     <script>
        var name = "{{user.id}}";
        document.getElementById("elder").value=name;
    </script>
</form>



    {% else %}
You're not allowed sorry!
{% endif %}
</div>
{% endblock %}
</body>
</html>